@charset "UTF-8";
h1,
p,
h2,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1366px;
  min-height: 768px;
  outline: 1px solid red;
}

/*
!HEADER-HERO-SECTION
*/
.hero {
  position: relative;
  padding-top: 40px;
  min-height: 700px;
  margin-bottom: 180px;
  background: rgb(152, 195, 232);
  background: linear-gradient(0deg, rgb(152, 195, 232) 0%, rgb(255, 255, 255) 100%);
}
.hero__content {
  margin-left: 220px;
}
.hero__content-header {
  max-width: 510px;
  color: rgb(31, 63, 104);
  font-family: "TRY Galien";
  font-size: 62px;
  line-height: 74px;
  letter-spacing: 2px;
  margin-bottom: 25px;
}
.hero__content-desc {
  max-width: 425px;
  color: rgba(31, 63, 104, 0.6);
  font-family: "Gilroy-Bold";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-bottom: 70px;
}
.hero__content-button {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 15px 48px;
  box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.2);
  /* blue_04 */
  background: rgb(90, 152, 208);
}
.hero__illustration {
  width: 687px;
  height: 579px;
  background-image: url("../img/homepage-hero-illustration.png");
  position: absolute;
  top: 122px;
  right: 40px;
}

/*navigation*/
.navigation {
  width: 1200px;
  margin: 0 auto;
  outline: 1px solid green;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.navigation__logo-right {
  width: 32px;
  height: 32px;
  background-color: rgb(49, 96, 153);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.navigation__logo {
  position: relative;
  outline: 1px solid red;
  height: 32px;
  min-width: 50px;
}
.navigation__logo-right {
  position: absolute;
}
.navigation__logo-left {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  left: 16px;
  background-color: white;
  border: 2px solid rgb(49, 96, 153);
}
.navigation__logo-left-text {
  font-size: 20px;
  line-height: 25px;
  color: rgb(49, 96, 153);
  font-family: "Gilroy-Bold";
}
.navigation__burger-menu {
  width: 32px;
  height: 32px;
  /*Заглушка Бургер-меню*/
}
.navigation__burger-menu .burger-placeholder {
  object-fit: contain;
}

/*
!WHAT-WE-DO SECTION
*/
.what-we-do__container {
  width: 940px;
  display: grid;
  grid-template-columns: 1fr 380px;
  margin: 0 auto;
}

.card {
  width: 380px;
  min-height: 537px;
  border-radius: 10px;
  /* shadow1 */
  box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);
  background: rgb(255, 255, 255);
}

.what-we-do__left-block {
  grid-row: 1/3;
}
.what-we-do__left-block h1 {
  color: rgb(49, 96, 153);
  font-family: Gilroy-SemiBoldItalic;
  font-size: 36px;
  line-height: 46px;
  text-align: left;
  margin-bottom: 158px;
  max-width: 359px;
  font-weight: 400;
}
.what-we-do__left-block-card {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.what-we-do__right-card-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}
.what-we-do__right-card-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block-card__img {
  width: 182px;
  height: 132px;
  margin-bottom: 56px;
  align-self: center;
}
.block-card__header {
  color: rgb(31, 63, 104);
  font-family: Gilroy-SemiBoldItalic;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  max-width: 258px;
  margin-bottom: 16px;
  margin-left: 48px;
}
.block-card__desc {
  max-width: 284px;
  color: rgb(31, 63, 104);
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin-bottom: 32px;
  margin-left: 48px;
}
.block-card__link {
  color: rgb(90, 152, 208);
  font-family: Gilroy-SemiBoldItalic;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-decoration: none;
  margin-left: 48px;
}
.block-card__link .fa-arrow-right {
  margin-left: 10px;
}

/*
!OUR-PROJECTS
*/
.our-projects {
  margin-bottom: 192px;
}
.our-projects__container {
  max-width: 940px;
  min-height: 1118px;
  outline: 1px solid red;
  margin: 0 auto;
}
.our-projects__header {
  display: flex;
  column-gap: 92px;
  margin-bottom: 89px;
}
.our-projects__title {
  color: rgb(31, 63, 104);
  font-family: "Gilroy-SemiBoldItalic";
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  max-width: 228px;
}
.our-projects__desc {
  color: rgb(31, 63, 104);
  font-family: "Gilroy-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1px;
  color: rgba(31, 63, 104, 0.6);
  max-width: 540px;
}
.our-projects__hero {
  height: 417px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 96px;
}
.our-projects__background {
  height: 100%;
  background: url("../img/our-projects-hero-bcg.png"), url("../img/our-projects-hero-pic.png");
  border-radius: 10px;
}
.our-projects__text {
  position: absolute;
  right: 20px;
  top: 48px;
}
.our-projects__hero-title {
  color: rgb(255, 255, 255);
  font-family: Gilroy-Medium;
  font-size: 28px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 2px;
  text-align: left;
}
.our-projects__hero-desc {
  color: rgb(255, 255, 255);
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1px;
  text-align: left;
}
.our-projects__picture {
  position: absolute;
  background-image: url("../img/group.png");
  width: 380px;
  height: 374px;
  bottom: -29px;
  left: -34px;
}
.our-projects__projects {
  display: flex;
  justify-content: space-between;
}
.our-projects__app {
  box-sizing: border-box;
  padding: 32px 0 0 24px;
}

.app1 {
  background-image: url("../img/app1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 422px;
  height: 417px;
  border-radius: 10px;
}

.app2 {
  background-image: url("../img/app2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 422px;
  height: 417px;
  border-radius: 10px;
}

.projects-app__title {
  max-width: 280px;
  color: rgb(255, 255, 255);
  font-family: Gilroy-Medium;
  font-size: 28px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1px;
  text-align: left;
}
.projects-app__desc {
  max-width: 150px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1px;
  text-align: left;
}

/*
!OUR CLIENTS
*/
.our-clients {
  background-color: rgb(90, 152, 208);
  border-radius: 200px 0px 0px 0px;
  position: relative;
  overflow: hidden;
  padding-top: 96px;
}
.our-clients__container {
  max-width: 940px;
  margin: 0 auto;
  min-height: 1550px;
}
.our-clients__header {
  display: flex;
  column-gap: 98px;
  margin-bottom: 110px;
}
.our-clients__header-title, .footer-top__text-title {
  color: rgb(255, 255, 255);
  font-family: Gilroy-SemiBoldItalic;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 46px;
  max-width: 222px;
}
.our-clients__header-desc, .footer-top__text-description {
  color: rgb(255, 255, 255);
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 400;
  font-height: 26px;
  letter-spacing: 1px;
  text-align: left;
  max-width: 540px;
}
.our-clients__clients-logo-list {
  min-height: 256px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.our-clients__clients-logo-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
}
.our-clients__clients-logo-list-item:last-child {
  background-color: rgb(31, 63, 104);
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}

.footer {
  box-sizing: border-box;
  width: 1366px;
  min-height: 870px;
  border-radius: 0px 200px 0px 0px;
  background: rgb(49, 96, 153);
  position: absolute;
  bottom: 0;
  right: 96px;
  padding-top: 90px;
}
.footer__container {
  max-width: 940px;
  margin: 0 auto;
  transform: translateX(96px);
}
.footer__divider {
  width: 100%;
  position: absolute;
  right: 250px;
}
.footer__afrianska-header-title {
  color: rgb(255, 255, 255);
  font-family: Gilroy-SemiBoldItalic;
  font-size: 28px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 2%;
  text-align: left;
}
.footer__afrianska-header {
  display: flex;
  column-gap: 10px;
}
.footer__afrianska-list-item {
  color: rgb(255, 255, 255);
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1px;
  text-align: left;
  min-width: 300px;
  margin-bottom: 24px;
}
.footer__afrianska-list-item:last-child {
  margin-bottom: 0;
}
.footer__about-us-header, .footer__follow-us-header {
  color: rgb(255, 255, 255);
  font-family: Gilroy-SemiBoldItalic;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: 32px;
}
.footer__about-us-list {
  max-width: 162px;
}
.footer__about-us-list-item, .footer__follow-us-list-item {
  margin-bottom: 16px;
}
.footer__about-us-list-item:last-child, .footer__follow-us-list-item:last-child {
  margin-bottom: 0;
}
.footer__about-us-list-item a, .footer__follow-us-list-item a {
  color: rgb(255, 255, 255);
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 5%;
  text-align: left;
}

.afrianska-list-item-marker,
.afrianska-list-item-text {
  display: inline-block;
  vertical-align: text-top;
}

.afrianska-list-item-marker {
  margin-right: 30px;
}

.afrianska-list-item-text {
  max-width: 250px;
}

.footer__container_bottom {
  padding-top: 100px;
}

.footer-top {
  display: flex;
  align-items: center;
  column-gap: 180px;
  margin-bottom: 96px;
}
.footer-top__text-title {
  max-width: 318px;
  margin-bottom: 32px;
}
.footer-top__text-description {
  max-width: 460px;
  opacity: 0.6;
}
.footer-top__btn {
  height: fit-content;
}

/*FOOTER BOTTOM*/
.footer__afrianska-header {
  margin-bottom: 30px;
}
.footer__afrianska-header .navigation__logo {
  outline: none;
}
.footer__afrianska-header .navigation__logo-right {
  background-color: rgb(152, 195, 232);
}

.footer__follow-us-list-item:last-child {
  margin-bottom: 0;
}/*# sourceMappingURL=homepage.css.map */