@charset "UTF-8";
.outer-container {
  max-width: 1920px;
}

.inner-container {
  max-width: 1230px;
}

.header-nav__nav-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slider__btn {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../font/Montserrat/static/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Montserrat-Thin";
  src: url("../font/Montserrat/static/Montserrat-Thin.ttf");
}
@font-face {
  font-family: "Raleway-Medium";
  src: url("../font/Raleway/static/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../font/Raleway/static/Raleway-ExtraBold.ttf");
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../font/Raleway/static/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("../font/Raleway/static/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../font/Raleway/static/Raleway-Bold.ttf");
}
.inner-container {
  margin: 0 auto;
  height: 100%;
}

.header {
  min-height: 1027px;
  height: 1px;
  margin-bottom: 50px;
  background-image: url("../img/header-bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  filter: opacity(64%);
  background-color: #0a0808;
}

/*
!НАВИГАЦИЯ
*/
.header-nav {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-nav__logo-link {
  display: block;
  color: white;
  max-width: fit-content;
  margin-right: 220px;
}
.header-nav__logo-img {
  display: block;
  width: 182px;
  height: 60px;
}
.header-nav__nav {
  margin-right: 62px;
}
.header-nav__nav-list {
  display: flex;
  column-gap: 29px;
}
.header-nav__nav-list-item a {
  text-decoration: none;
  font-family: "Montserrat-Light";
  color: white;
  text-transform: capitalize;
  font-size: 14px;
}

/*ИНПУТ ДЯЛ ПОИСКА*/
.header-nav__search-cart {
  margin-right: 25px;
}

.header-nav__search-form-label {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.header-nav__search-form-label,
.header-nav__search-form-input {
  display: inline-block;
  vertical-align: text-bottom;
}

search {
  display: inline-block;
}

.header-nav__search-form-input {
  height: 28px;
  border: none;
  outline: none;
  padding: 0 8px;
  border-radius: 5px;
  display: none;
}

/*
!СЛАЙДЕР
*/
.slider {
  position: relative;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.slider-conent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__btn {
  width: 40px;
  height: 74px;
}
.slider__btn_left {
  background-image: url("../img/slider-control-left.svg");
}
.slider__slider-info {
  max-width: 590px;
}
.slider__btn_right {
  background-image: url("../img/slider-control-right.svg");
}
.slider__slider-info {
  text-align: center;
}
.slider__sub-header {
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  font-family: "Raleway-Medium";
  font-size: 36px;
  margin-bottom: 14px;
  text-transform: capitalize;
}
.slider__header {
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  font-family: "Raleway-ExtraBold";
  font-size: 52px;
  margin-bottom: 19px;
  text-transform: capitalize;
}
.slider__text {
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  font-family: "Montserrat-Light";
  font-size: 16px;
  margin-bottom: 50px;
  text-transform: capitalize;
  line-height: 24px;
}
.slider__btn-text {
  display: inline-block;
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: "Raleway-ExtraBold";
  font-size: 14px;
  box-shadow: inset 0px -3px 0px rgb(114, 98, 87);
  background: rgb(71, 28, 28);
  max-width: fit-content;
  padding: 22px 40px;
  text-transform: uppercase;
}

.slider__dots {
  position: relative;
  text-align: center;
  top: 60%;
}

.dot-active {
  width: 18px;
  height: 18px;
}

.slder__dots-dot {
  width: 13px;
  height: 13px;
  margin-right: 8px;
}

/*
!TOP
*/
.services__top {
  padding-bottom: 77px;
}
.services__top .inner-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
}

.services__top-figure:hover .services__top-title {
  color: rgb(199, 177, 153);
}

.services__top-figure:hover::after {
  background: rgb(238, 192, 147);
}

.services__top-figure {
  margin: 0;
  max-width: 266px;
  min-height: 215px;
  position: relative;
  text-align: center;
  padding-bottom: 28px;
}
.services__top-figure::after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: rgb(241, 237, 233);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.services__top-img {
  width: 51px;
  height: 51px;
  margin: 0 auto 28px auto;
  display: inline-block;
}
.services__top-title {
  margin: 0;
  padding: 0;
  font-family: "Raleway-SemiBold";
  font-size: 22px;
  line-height: 15.6px;
  text-align: center;
  color: rgb(85, 85, 85);
  margin-bottom: 19px;
}
.services__top-desc {
  margin: 0;
  padding: 0;
  font-family: "Montserrat-Light";
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: rgb(139, 139, 139);
}

.services__bottom {
  background-color: red;
}

/*
!BOTTOM
*/
.services__bottom {
  background-color: #fbfaf8;
  padding-top: 85px;
}

.services__bottom-tittle {
  margin: 0 0 24px 0;
  padding: 0;
  font-family: "Raleway-SemiBold";
  font-size: 30px;
  line-height: 15.6px;
  text-align: center;
  color: rgb(85, 85, 85);
}
.services__bottom-desc {
  margin: 0 auto 26px auto;
  max-width: 757px;
  font-family: "Montserrat-Light";
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgb(139, 139, 139);
}
.services__bottom-bcg {
  min-height: 482px;
  background-image: url("../img/services-bg-center.png"), url("../img/services-bg-left.png"), url("../img/services-bg-right.png");
  background-size: 770px 482px, 770px 400px, 770px 400px;
  background-repeat: no-repeat;
  background-position: center, left bottom, right bottom;
}

/*
! ASIDE
*/
.aside {
  background-color: #f4f5f8;
  padding: 48px 0;
}
.aside .inner-container {
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}
.aside__left {
  max-width: 530px;
}
.aside__left-title {
  margin: 0;
  padding: 0;
  font-family: "Raleway-Regular";
  font-size: 28px;
  text-align: left;
  color: rgb(199, 177, 153);
  margin-bottom: 8px;
}
.aside__left-desc {
  margin: 0;
  padding: 0;
  font-family: "Montserrat-Light";
  font-size: 18px;
  line-height: 15.6px;
  color: rgb(96, 87, 85);
}

.aside__right-btn {
  box-shadow: inset 0px -3px 0px rgb(114, 98, 87);
  background: rgb(100, 78, 78);
  font-family: "Raleway-ExtraBold";
  font-size: 14px;
  text-align: center;
  color: rgb(255, 255, 255);
  display: block;
  width: fit-content;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 30px;
  box-sizing: border-box;
}

.latest-projects {
  padding-top: 80px;
  margin-bottom: 70px;
}
.latest-projects__header {
  font-family: "Raleway-SemiBold";
  font-size: 30px;
  text-align: center;
  color: rgb(85, 85, 85);
  margin: 0 auto 24px auto;
  max-width: fit-content;
  text-transform: capitalize;
}
.latest-projects__desc {
  font-family: "Montserrat-Light";
  font-size: 16px;
  text-align: center;
  color: rgb(139, 139, 139);
  line-height: 28px;
  margin: 0 auto 38px auto;
  max-width: 757px;
  text-transform: capitalize;
}

.latest-projects-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: fit-content;
  display: flex;
  column-gap: 7px;
  margin: 0 auto 33px auto;
}
.latest-projects-nav__list-item {
  width: fit-content;
  height: fit-content;
}
.latest-projects-nav__list-item-link {
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Montserrat-Light";
  font-size: 14px;
  text-align: center;
  color: rgb(255, 255, 255);
  display: block;
  background-color: black;
  padding: 12px 24px;
  border-radius: 5px;
}

.latest-projects__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  margin-bottom: 37px;
}

.latest-projects__grid-element {
  background-color: #fff;
}

.latest-projects__grid-element-img {
  object-fit: cover;
  max-width: 100%;
  min-height: 296px;
  height: 1px;
  display: block;
}

.latest-projects__grid-element-bottom {
  position: relative;
  background-color: rgb(251, 249, 247);
  padding-top: 32px;
  padding-bottom: 28px;
}
.latest-projects__grid-element-bottom span {
  display: block;
}

.latest-projects__grid-element:hover .latest-projects__grid-element-bottom {
  background: #362f2d;
}

.latest-projects__grid-element-title {
  font-family: "Raleway-Medium";
  font-size: 20px;
  text-align: center;
  color: rgb(199, 178, 153);
  text-align: left;
  margin-left: 32px;
}

.latest-projects__grid-element:hover .latest-projects__grid-element-title {
  color: white;
}

.latest-projects__grid-element-desc {
  font-family: "Montserrat-Light";
  font-size: 14px;
  text-align: center;
  color: rgb(209, 209, 209);
  text-align: left;
  margin-left: 32px;
}

.latest-projects__grid-element:hover .latest-projects__grid-element-desc {
  color: rgb(199, 177, 153);
}

.latest-projects__grid-element-hover {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.latest-projects__grid-element:hover .latest-projects__grid-element-img {
  filter: brightness(30%);
  transition: filter 0.6s;
}

.latest-projects__grid-element:hover .latest-projects__grid-element-hover {
  z-index: 0;
  top: -140%;
  transition: top 1s, z-index 1s;
}

.latest-projects__grid-element-chain-icon,
.latest-projects__grid-element-search-icon {
  width: 28px;
  height: 28px;
}

.latest-projects__grid-element-chain-icon {
  margin-right: 26px;
}

/* Добавляем оформление grid-контейнеру: */
.container {
  border: 2px solid rgb(80, 145, 27); /* Обводим зелёной линией */
  border-radius: 5px; /* Скругляем углы на 5 пикселей */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Добавляем оформление элементам grid-контейнера: */
.container * {
  border: 1px dashed; /* Обводим чёрным пунктиром */
  border-radius: 10px; /* Скругляем углы на 10 пикселей */
  background-color: rgba(82, 29, 179, 0.5); /* Фон красим фиолетовым */
  text-align: center; /* Контент размещаем в центре по горизонтали */
}

.latest-projects__btn {
  text-transform: uppercase;
  color: white;
  display: block;
  width: 173px;
  height: 53px;
  box-shadow: inset 0px -3px 0px rgb(114, 98, 87);
  background: rgb(17, 17, 17);
  font-family: "Raleway-ExtraBold";
  font-size: 14px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0 auto;
}

.video-presintation__player {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.video-presintation {
  position: relative;
}
.video-presintation__controls {
  max-width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-presintation__controls-play-wrapper {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  margin: 0 auto;
}
.video-presintation.video-presintation__controls-play-icon {
  width: 80px;
  height: 80px;
}
.video-presintation__controls-heder {
  font-family: "Raleway-Medium";
  font-size: 17px;
  text-align: center;
  color: white;
}
.video-presintation__controls-desc {
  font-family: "Raleway-Medium";
  font-size: 16px;
  text-align: center;
  color: white;
}
.video-presintation__controls-time {
  font-family: "Raleway-Medium";
  font-size: 14px;
  text-align: center;
  color: white;
  display: block;
}

.mobile__devices .inner-container {
  box-sizing: border-box;
  padding-left: 70px;
  display: flow-root;
  padding-top: 80px;
}

.mobile__devices-bcg {
  width: 420px;
  height: 616px;
  background-image: url("../img/mobile-phone.png");
}

.mobile__devices-text {
  max-width: 657px;
  float: right;
  font-family: "Montserrat-Light";
  font-size: 16px;
  text-align: left;
  color: rgb(139, 139, 139);
  margin-top: 100px;
}
.mobile__devices-header {
  margin-bottom: 40px;
}
.mobile__devices-header-desc {
  margin-bottom: 45px;
}
.mobile__devices-list {
  padding-left: 50px;
}
.mobile__devices-list-item:not(:last-child) {
  margin-bottom: 10px;
}
.mobile__devices-list-item {
  padding-left: 28px;
}
.mobile__devices-list-item::marker {
  content: "►"; /* Символ маркера */
  color: #C7B299; /* Цвет маркера */
}

.mobile__devices-text-bottom {
  margin-top: 0;
}

/*При медиазапросе убрать у этого элемента правый флоат
сдалать его на всю ширину и центрировать*/
@media (max-width: 1180px) {
  .mobile__devices-text-top {
    float: none;
    max-width: 100%;
  }
  .mobile__devices-header {
    text-align: center;
  }
}
.counters__flex {
  display: flex;
  justify-content: center;
}

.counters {
  background-color: #f4f5f8;
  padding: 70px 0 93px 0;
}
.counters__figure {
  display: flex;
  flex-direction: column;
  max-width: max-content;
}
.counters__ficaption {
  position: relative;
}
.counters__ficaption::after {
  content: "";
  display: block;
  position: absolute;
  width: 33px;
  height: 5px;
  background-color: white;
  margin-top: 28px;
  left: 50%;
  transform: translateX(-50%);
}
.counters__counter {
  font-family: "Montserrat-Thin";
  font-size: 48px;
  color: rgb(255, 255, 255);
  display: block;
  text-align: center;
}
.counters__img {
  display: block;
  margin: 0 auto;
}
.counters__desc {
  font-family: "Montserrat-Light";
  font-size: 14px;
  color: rgb(199, 177, 153);
  display: block;
  text-align: center;
}

.img1 {
  width: 46px;
  height: 46px;
}

.img2 {
  width: 51px;
  height: 47px;
}

.img3 {
  width: 46px;
  height: 46px;
}

.img4 {
  width: 57px;
  height: 47px;
}

.img5 {
  width: 56px;
  height: 46px;
}

.recent-posts {
  margin-bottom: 50px;
}

.recent-post__title {
  font-family: "Raleway-SemiBold";
  font-size: 30px;
  text-align: center;
  color: rgb(85, 85, 85);
  margin-top: 82px;
}
.recent-post__desc {
  margin: 0 auto;
  max-width: 757px;
  font-family: "Montserrat-Light";
  font-size: 16px;
  text-align: center;
  color: rgb(140, 140, 140);
  margin-bottom: 27px;
}

.recent-posts-flex {
  display: flex;
  column-gap: 20px;
  justify-content: center;
}

.recent-posts-article {
  width: 373px;
  height: fit-content;
  box-sizing: border-box;
  position: relative;
}
.recent-posts-article__date {
  position: absolute;
  width: 53px;
  box-sizing: border-box;
  border-radius: 15px;
  top: 25px;
  left: 25px;
}
.recent-posts-article__date-day {
  background: #363636;
  font-family: "Montserrat-Light";
  font-size: 24px;
  text-align: center;
  color: rgb(255, 255, 255);
  display: block;
}
.recent-posts-article__date-nonth {
  display: block;
  font-family: "Roboto-Regular";
  font-size: 12px;
  background-color: #252525;
  color: rgb(255, 255, 255);
  text-align: center;
}

.recent-posts-img {
  max-width: 100%;
  min-height: 248px;
  object-fit: cover;
  display: block;
}

.recent-posts-desc {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 1px;
  background-color: #777777;
}
.recent-posts-desc__title {
  display: block;
  font-family: "Raleway-Medium";
  font-size: 19px;
  text-align: left;
  color: rgb(85, 85, 85);
  margin-bottom: 20px;
}
.recent-posts-desc__desc {
  display: block;
  font-family: "Montserrat-Light";
  font-size: 14px;
  text-align: left;
  color: rgb(139, 139, 139);
  margin-bottom: 20px;
}
.recent-posts-desc__ref {
  text-decoration: none;
  font-family: "Montserrat-Light";
  text-align: left;
  color: rgb(199, 177, 153);
  margin-bottom: 34px;
  display: block;
}
.recent-posts-desc__ref::after {
  content: "►"; /* Символ маркера */
  color: #C7B299; /* Цвет маркера */
  padding-left: 8px;
}

.recent-posts-article:hover .recent-posts-desc {
  padding-top: 0;
  border-top: 20px solid black;
}

.partners {
  min-height: 492px;
  background-image: url("../img/partners-bg.webp");
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}

.partners__op {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #0a0808;
  filter: opacity(64%);
}

.partners__container {
  display: flex;
  column-gap: 90px;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
}

.partners__link, .partners__img {
  display: block;
  filter: opacity(1);
}

.p-img1 {
  width: 210px;
  height: 127px;
}

.p-img2 {
  width: 210px;
  height: 210px;
}

.p-img3 {
  width: 210px;
  height: 130px;
}

.p-img4 {
  width: 210px;
  height: 164px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #191919;
}

.footer__block-title {
  font-family: "Raleway-Bold";
  font-size: 24px;
  line-height: 15.6px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.wexom {
  max-width: 259px;
}

.footer-recent {
  max-width: 272px;
}

.footer-twitter {
  max-width: 272px;
}

footer span {
  display: block;
}

footer time {
  font-family: "Montserrat-Light";
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  color: rgb(54, 54, 54);
}

.footer__post-important {
  font-family: "Montserrat-Light";
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: rgb(0, 191, 242);
}

.footer__post {
  font-family: "Montserrat-Light";
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: rgb(84, 84, 84);
}

.footer__post-twitter-time {
  font-family: "Montserrat-Light";
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  color: rgb(54, 54, 54);
}

.dribble {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.footer__widjet-block {
  flex-basis: 133px;
  height: 100px;
  border: 1px dashed navy;
}

.dribble-h2 {
  width: 100%;
}/*# sourceMappingURL=style.css.map */