@font-face {
    font-family: "Montserrat-Light";
    src: url('../font/Montserrat/static/Montserrat-Light.ttf');
}

@font-face {
    font-family: "Montserrat-Thin";
    src: url('../font/Montserrat/static/Montserrat-Thin.ttf');
}

@font-face {
    font-family: "Raleway-Medium";
    src: url('../font/Raleway/static/Raleway-Medium.ttf');
}

@font-face {
    font-family: "Raleway-ExtraBold";
    src: url('../font/Raleway/static/Raleway-ExtraBold.ttf');
}

@font-face {
    font-family: "Raleway-SemiBold";
    src: url('../font/Raleway/static/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: "Raleway-Regular";
    src: url('../font/Raleway/static/Raleway-Regular.ttf');
}

@font-face {
    font-family: "Raleway-Bold";
    src: url('../font/Raleway/static/Raleway-Bold.ttf');
}





